body{
    width: 1200px
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 35%;
    margin-left: 5%;
    padding: 2%;
    float: left;
}

section{
    height: 500px;
}

.button{
    color: white;
    text-decoration: none;
    border: 2px solid tomato;
    border-radius: 5px;
    background-image: linear-gradient(45deg, salmon, tomato);
    padding: 10px 20px;
}

.header-img{
    width: 100%;
}
.top-section{
    background-image: url(images/biography-bg.png);
}

.git-icon{
    width: 5%;
    
}
.second-button{
    color: white;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    background-image: linear-gradient(60deg, rgb(184, 177, 177), black);
    padding: 10px 20px;
}

.about-section{
    background-image: url(images/footer-bg.png);
}

.services{
    width: 22%;
    margin-left: 7%;
    padding: 1%;
    float: left;
    font-size: 10px;
    box-shadow: 10px 10px 40px gray;
}

.service-img{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

.service-header{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: rgb(107, 62, 66);
    font-size: 45px;
}
.service-title{
    margin-bottom: 10px;
    text-align: center;
}
.service-text{
    margin-bottom: 10px;
    text-align: center;
}
.service-btn{
    display: block;
    color: white;
    text-decoration: none;
    border: 2px solid tomato;
    border-radius: 5px;
    background-image: linear-gradient(45deg, salmon, tomato);
    padding: 5px 10px;
    margin-top: 20px;
}
.service-arrow{
    margin-left: 65%;
    margin-top: 5px;
    width: 5%;
}
.latest-work{

    width: 25%;
    margin-left: 5%;
    padding: 1%;
    float:left;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    font-size: 10px;

}
.latest-work-img{
    width: 100%;
}

.latest-working-text{
    text-align: center;
}

.footer{
    height: 250px;
    background-image: url(images/Group_33094_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 900px 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer-text{
    text-align: center;
    margin-top: 15%;
    margin-left: 15%;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: white;
}

.footer-btn{
    margin-top: 6%;
    margin-left:5px;
    text-align: center;
}
.icon{
    width: 15%;
    float:left;
}
.contact-icon{
    width: 30%;
    margin-left: 200%;
    margin-right: 15%;
    padding-left: 5%;
}
.contact-text-para{
    text-align: center;
}
.contact-text{
    text-align: center;
}
